body {
  margin: 0;
}

.scroll-btn {
  position: fixed;
  right: 1.5rem;
  top: 5rem;
  background-color: #8675a9;
  color: aliceblue;
  z-index: 100;
  opacity: 0.8;
  transition: all 0.3s linear;
  font-size: 2rem;
  line-height: 0;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 25%;
}

.scroll-btn:hover {
  background: #6a097d;
  opacity: 1;
  font-size: 2.2rem;
}
